<?xml version='1.0' encoding='utf-8'?>
<widget id="de.drl.pinpoint2_iOS_2" version="3.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Field Explorer</name>
    <description>
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Design Research Lab UDK BERLIN
    </author>
    <content src="index.html" />
    <access origin="http://127.0.0.1*" />
    <access origin="http://drl.lu-re.de" subdomains="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <icon density="ldpi" src="res/icon.png" />
        <icon density="mdpi" src="res/icon.png" />
        <icon density="hdpi" src="res/icon.png" />
        <icon density="xhdpi" src="res/icon.png" />
        <splash density="hdpi" src="res/splash.9.png" />
        <splash density="ldpi" src="res/splash.9.png" />
        <splash density="mdpi" src="res/splash.9.png" />
        <splash density="xhdpi" src="res/splash.9.png" />
        <splash density="xxhdpi" src="res/splash.9.png" />
        <splash density="xxxhdpi" src="res/splash.9.png" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="~4.5.4" />
</widget>
